@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Faqs";
}

<div class="listpgWraper">
    <div class="container">

        <!--Question-->
        <div class="faqs">
            <div class="panel-group" id="accordion">
                <h3>FAQs</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse1">Cum editez o postare</a> </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse2"> Cum găsesc o anumită postare?</a> </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse3"> Cum salvez postarea în favorite?</a> </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <h3>How we work</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse4"> Cum mă autentific? </a> </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Pentru autentificare este nevoie de a avea un account deja creat. Dacă aveți account creat este nevoie de a da click peste butonul "Login" în partea dreapta sus a paginii și de a introduce Username-ul și Parola.<br>
                            <br>
                            Pentru a vă înregistra dați click pe butonul "Register" din partea dreapta-sus a paginii și introduceți: Numele, Username, Numărul de contact, Parola. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse5"> Cum plasez un anunț</a> </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Pentru a plasa un anunț este nevoie de a fi logat deja pe pagină.<br>
                            <br>
                            Dați click pe butonul "Post an Ad" (de culoare verde in dreapta sus) și introduceți datele automobilului.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse6"> Cum vizualizez anunțurile? </a> </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            Pentru a vizualiza anunțurile este nevoie de a da click pe categoria de anunțuri dorită: Used, New. Pentru a vizualiza toate anunțurile este compartimentul: Ad Listing<br>
                            <br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
