<!-- Featured Cars start -->
<div class="section">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Featured <span>Used</span> Cars</h3>
        </div>
        <!-- title end -->

        <ul class="gridlist itemgrid owl-carousel owl-theme owl-loaded owl-responsive-768">
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">BMW 7 Series</a></h3>
                    <div class="price">50 900€</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Cahul</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/BMW7series.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Ford Mustang 2017</a></h3>
                    <div class="price">20 900€</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Chișinau</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/fordMustang.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Mercedes E Class 2018</a></h3>
                    <div class="price">31 900€</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Bălți</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/MercedesEClass.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Volkswagen Golf 2018</a></h3>
                    <div class="price">21 300€</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Criuleni</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/VWGolf.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            
        </ul>
    </div>
</div>
<!-- Featured Cars end -->