

<div>
    <img src="@Url.Content("~/Content/images/png-transparent-lightning-mcqueen-cars-lightning-mcqueen-sally-carrera-birthday-car-car-accident-wish-vintage-car.png")" id="animationImg" alt="" />
</div>