<!-- Featured Cars start -->
<div class="section">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Featured <span>Used</span> Cars</h3>
        </div>
        <!-- title end -->

        <ul class="gridlist itemgrid owl-carousel owl-theme owl-loaded owl-responsive-768">
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$184,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/01.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$120,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/02.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$99,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/03.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$59,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/04.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$69,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/05.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$58,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/06.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$184,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/07.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Car Name 2016</a></h3>
                    <div class="price">$89,900</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/08.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
        </ul>
    </div>
</div>
<!-- Featured Cars end -->