@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FAQs";
}

<div class="listpgWraper">
    <div class="container">

        <!--Question-->
        <div class="faqs">
            <div class="panel-group" id="accordion">
                <h3>How we work</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse1">How to use our page?</a> </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Explore our page as a guest and keep in mind our latest offers.<br>
                            <br>
                            Login / Sing up on our page and share your Ads with the entire AutoCar family.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse2"> How to Authorise to our platform?</a> </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you are already registered, you just need to press Login in the top right corner. <br>
                            <br>
                            To Register you need to press 'Register' in the top right corner and complete all required fields.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse3">How to post an Ad?</a> </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Click on 'Post an Ad', the button which stands out with a light green color on the top right of web page. There you complete all required fields with specs of your vehicle and click bottom on 'Post'<br>
                            <br>
                            To edit your posts you need to be signed in and click on the 'Dashboard', where you can manage all the information related to your account and all the posts.
                        </div>
                    </div>
                </div>
                <h3>Personal Data</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse4">How to manage personal Info?</a> </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            First of all you need to be logged in. After that you will be able to click on your 'Dashboard' where you will manage all personal info. <br>
                            
                        </div>
                    </div>
                </div>
                

                </div>
            </div>
        </div>
    </div>
</div>
