@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FAQs";
}

<div class="listpgWraper">
    <div class="container">

        <!--Question-->
        <div class="faqs">
            <div class="panel-group" id="accordion">
                <h3>Payments</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse1">Nunc ut erat at massa elementum tempus.?</a> </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse2"> Donec lacus sem, pretium a eros ut?</a> </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse3"> Donec lacus sem, pretium a eros ut?</a> </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <h3>How we work</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse4">Nunc ut erat at massa elementum tempus.?</a> </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse5"> Donec lacus sem, pretium a eros ut?</a> </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse6"> Donec lacus sem, pretium a eros ut?</a> </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
                            <br>
                            Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
