@{
     Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
     ViewBag.Title = "ForgotPassword";
}

<!-- Page Title start -->
<div class="pageTitle">
     <div class="container">
          <div class="row">
               <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading">Forgot Password</h1>
               </div>
          </div>
     </div>
</div>
<!-- Page Title End -->

<div class="listpgWraper">
     <div class="container">
          <div class="row">
               <div class="col-md-6 col-md-offset-3">
                    <div class="userccount">
                         <h5>Forgot Password</h5>
                         <p>Have you forgotten your password? Enter your e-mail here.</p>

                         <!-- form -->
                         <div class="formpanel">
                              <div class="formrow">
                                   <input type="text" class="form-control" placeholder="Enter Email Address">
                              </div>
                              <input type="submit" class="btn" value="Submit">
                         </div>
                         <!-- form  end-->

                    </div>
               </div>
          </div>
     </div>
</div>

</body>
</html>