@{
    Layout = "~/Views/Shared/_LayoutListing.cshtml";
    ViewBag.Title = "Listing";
}



<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Listing</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

<div class="listpgWraper">
    <div class="container">

        <!-- Sortby start -->
        <div class="sortbybar">
            <div class="row">
                <div class="col-sm-4"> <a href="listing.html" data-toggle="tooltip" data-placement="top" title="" class="listby" data-original-title="Result by List View"><i class="fa fa-th-list" aria-hidden="true"></i></a> <a href="grid.html" data-toggle="tooltip" data-placement="top" title="" class="listby" data-original-title="Result by Gallery View"><i class="fa fa-th-large" aria-hidden="true"></i></a> </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Sort By</span>
                        <select class="form-control">
                            <option>Most recent</option>
                            <option>Price: Rs Low to High</option>
                            <option>Price: Rs High to Low</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="found"> 235 results for Mathematic Tutors <strong> Profile showing 1 to 10 out of 711 </strong> </div>
                </div>
            </div>
        </div>

        <!-- Search Filter start -->
        <div class="searchfilter">
            <h3>Sue gate Cars for sale in Chișinău (357)</h3>
            <ul class="row catelist">
                <li class="col-md-3 col-sm-6"><a href="#">Sue gate 2023 Chișinău <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6"><a href="#">Sue gate 2023 Bălți <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6"><a href="#">Sue gate 2023 Orhei <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6"><a href="#">Sue gate 2023 Soroca <span>(44)</span></a></li>
                <li class="col-md-3 col-sm-6"><a href="#">Sue gate 2023 Cahul <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6"><a href="#">Sue gate 2023 Comrat <span>(10)</span></a></li>
            </ul>
        </div>

        <!-- Search Result and sidebar start -->
        <div class="row">
            <div class="col-md-3 col-sm-5">
                <!-- Side Bar start -->
                <div class="sidebar">
                    <!-- By Keyword -->
                    <div class="widget">
                        <h4 class="widget-title">Search By Keyword</h4>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>

                    <!-- Price -->
                    <div class="widget">
                        <h4 class="widget-title">Price Range</h4>
                        <ul class="optionlist">
                             <li>
                                  <input type="checkbox" name="checkname" id="price1" />
                                  <label for="price1"></label>
                                  0 to €999 <span>12</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="price2" />
                                  <label for="price2"></label>
                                  €1000 to €2999 <span>41</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="price3" />
                                  <label for="price3"></label>
                                  €3000 to €5999 <span>33</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="price4" />
                                  <label for="price4"></label>
                                  €6000 to €9999 <span>66</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="price5" />
                                  <label for="price5"></label>
                                  €10000 to €14999 <span>159</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="price6" />
                                  <label for="price6"></label>
                                  Above €14999 <span>865</span>
                             </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>From</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>To</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Price end -->
                    <!-- Cars By City -->
                    <div class="widget">
                        <h4 class="widget-title">City</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="newyork" />
                                <label for="newyork"></label>
                                Chișinău <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="losangles" />
                                <label for="losangles"></label>
                                Bălți <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="chicago" />
                                <label for="chicago"></label>
                                Orhei <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="houston" />
                                <label for="houston"></label>
                                Soroca <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="sandiego" />
                                <label for="sandiego"></label>
                                Comrat <span>555</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="sanjose" />
                                <label for="sanjose"></label>
                                Cahul <span>44</span>
                            </li>
                        </ul>
                        <a href="#.">More Cities</a>
                    </div>
                    <!-- Cars By City end-->
                    <!-- Cars By City -->
                    <div class="widget">
                        <h4 class="widget-title">Register City</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="chisinau" />
                                <label for="chisinau"></label>
                                Chișinău <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="balti" />
                                <label for="balti"></label>
                                Bălți <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="orhei" />
                                <label for="orhei"></label>
                                Orhei <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="soroca" />
                                <label for="soroca"></label>
                                Soroca <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="comrat" />
                                <label for="comrat"></label>
                                Comrat <span>555</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="cahul" />
                                <label for="cahul"></label>
                                Cahul <span>44</span>
                            </li>
                        </ul>
                        <a href="#.">More Cities</a>
                    </div>
                    <!-- Cars By City end-->
                    <!-- Year -->
                    <div class="widget">
                        <h4 class="widget-title">Year Range</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>From</option>
                                    <option>1950</option>
                                    <option>1960</option>
                                    <option>1970</option>
                                    <option>1980</option>
                                    <option>1990</option>
                                    <option>2000</option>
                                    <option>2010</option>
                                    <option>2020</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                 <select class="form-control">
                                      <option>To</option>
                                      <option>1950</option>
                                      <option>1960</option>
                                      <option>1970</option>
                                      <option>1980</option>
                                      <option>1990</option>
                                      <option>2000</option>
                                      <option>2010</option>
                                      <option>2020</option>
                                      <option>2030</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                    <!-- Year end -->
                    <!-- type -->
                    <div class="widget">
                        <h4 class="widget-title">Type</h4>
                        <select class="form-control">
                            <option>New</option>
                            <option>Used Car</option>
                            <option>New Car</option>
                        </select>
                    </div>
                    <!-- type end -->
                    <!-- Make -->
                    <div class="widget">
                        <h4 class="widget-title">Make</h4>
                        <select class="form-control">
                            <option>BMW</option>
                            <option>Nissan</option>
                            <option>Honda</option>
                            <option>Toyota</option>
                            <option>Mercedes</option>
                            <option>Renault</option>
                            <option>Audi</option>
                            <option>Volkswagen</option>
                            <option>Porsche</option>
                            <option>Suzuki</option>
                            <option>Chevrolet</option>
                            <option>Lada</option>
                            <option>Tesla</option>
                            <option>Fiat</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <!-- Make end -->
                    <!-- Transmission -->
                    <div class="widget">
                        <h4 class="widget-title">Transmission</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="auto" />
                                <label for="auto"></label>
                                Auto <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="Manual" />
                                <label for="Manual"></label>
                                Manual <span>33</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Engine -->
                    <div class="widget">
                        <h4 class="widget-title">Engine Type</h4>
                        <ul class="optionlist">
                             <li>
                                  <input type="checkbox" name="checkname" id="Petrol" />
                                  <label for="Petrol"></label>
                                  Petrol <span>12</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="Diesel" />
                                  <label for="Diesel"></label>
                                  Diesel <span>33</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="Hybrid" />
                                  <label for="Hybrid"></label>
                                  Hybrid <span>33</span>
                             </li>
                             <li>
                                  <input type="checkbox" name="checkname" id="Electro" />
                                  <label for="Electro"></label>
                                  Diesel <span>33</span>
                             </li>
                        </ul>
                    </div>

                    <!-- button -->
                    <div class="searchnt">
                        <button class="btn"><i class="fa fa-search" aria-hidden="true"></i> Update Results</button>
                    </div>
                    <!-- button end-->
                </div>
                <!-- Side Bar end -->
            </div>
            <div class="col-md-9 col-sm-7">
                <!-- Search List -->
                <ul class="searchList">
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="ribbon_3 popular"><span>Featured</span></div>
                                <div class="adimg"><img src="images/cars/01.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="ribbon_3 popular"><span>Featured</span></div>
                                <div class="adimg"><img src="images/cars/02.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="ribbon_3 popular"><span>Featured</span></div>
                                <div class="adimg"><img src="images/cars/03.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="adimg"><img src="images/cars/04.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="adimg"><img src="images/cars/05.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="adimg"><img src="images/cars/06.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="adimg"><img src="images/cars/07.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="adimg"><img src="images/cars/08.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="adimg"><img src="images/cars/09.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                    <!-- ad start -->
                    <li>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="adimg"><img src="images/cars/10.jpg" alt="Ad Name" /></div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="jobinfo">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7">
                                            <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                            <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                            <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                            <div class="clearfix"></div>
                                            <div class="vinfo"><span>Petrol</span></div>
                                            <div class="vinfo"><span>1300 cc</span></div>
                                            <div class="vinfo"><span>Automatic</span></div>
                                            <div class="clearfix"></div>
                                            <div class="date">Last Updated: 1 day ago</div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 text-right">
                                            <div class="adprice">$456.00</div>
                                            <div class="listbtn"><a href="detail.html">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ad end -->
                </ul>

                <!-- Pagination Start -->
                <div class="pagiWrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="showreslt">Showing 1-10</div>
                        </div>
                        <div class="col-md-8 col-sm-8 text-right">
                            <ul class="pagination">
                                <li class="active"><a href="#.">1</a></li>
                                <li><a href="#.">2</a></li>
                                <li><a href="#.">3</a></li>
                                <li><a href="#.">4</a></li>
                                <li><a href="#.">5</a></li>
                                <li><a href="#.">6</a></li>
                                <li><a href="#.">7</a></li>
                                <li><a href="#.">8</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Pagination end -->
            </div>
        </div>
    </div>
</div>
