<!-- About start -->
<div class="about-wrap">
    <div class="col-md-6">
        <div class="about-image"></div>
    </div>
    <div class="col-md-6">
        <div class="aboutinfo">
            <div class="title">
                <span>Moldova's Leading Used Cars</span>
                <h1><span>Welcome to</span> Auto Car</h1>
            </div>
            <p>AutoCar is a website that specializes in helping people buy and sell new, used and certified used vehicles. The site is an excellent resource if you’re looking to sell your car or to buy one with many tips that can help you navigate the process.</p>
            <!--
            <ul>
            <li>Nam rutrum tortor eget lorem mattis mattis.</li>
            <li>Duis fermentum sem nec lorem sodales egestas.</li>
            <li>Duis mattis diam et ante tempor, quis tristique quam sagittis.</li>
            <li>Cras blandit ante ac hendrerit sodales.</li>
            <li>Duis non massa id nisl imperdiet iaculis.</li>
            </ul> 
            -->
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- About end -->
<!-- Cars By Make start -->
<div class="section whitebg">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Search Cars By <span>Make</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius, orci id facilisis egestas, neque purus sagittis arcu, nec maximus quam odio nec elit Pellentesque eget ipsum mattis</p>
        </div>
        <!-- title end -->
        <div class="topsearchwrap">
            <ul class="row makelist">
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/01.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/02.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/03.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/04.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/05.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/06.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/07.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/08.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/09.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/10.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/11.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/12.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/13.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/14.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/15.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/16.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/17.jpg" alt="" /> <strong>Car Brand</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="listing.html"><img src="~/Content/images/make/18.jpg" alt="" /> <strong>Car Brand</strong></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Cars By Make ends -->
<!-- Cars By Cities start -->
<div class="section whitebg">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Used Cars By <span>Cities</span></h3>
        </div>
        <!-- title end -->
        <div class="topsearchwrap">
            <ul class="row catelist">
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">London <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">New York <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Atlanta <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Andalusia <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Anchorage <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Fairbanks <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Haines <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Flagstaff <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Prescott <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Arkadelphia <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Batesville <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Camden <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Forrest City <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Hot Springs <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Little Rock <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Alameda <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Arcadia <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Barstow <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Daly City <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Downey <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Huntington Beach <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Laguna Beach <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Modesto <span>(96)</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="#">Rancho Cucamonga <span>(96)</span></a></li>
            </ul>
        </div>
        <div class="wideBanner margintop40"><img src="~/Content/images/google-ad-wide.jpg" alt=""></div>
    </div>
</div>
<!-- Cars By Cities ends -->
<!-- started start -->
<div class="taglinewrap">
    <div class="container">
        <h2>Get Started Today</h2>
        <p>AutoCar-The easiest way to sell your car or to buy one</p>
        <a href="#">Do You Want To Buy a Car?</a> <a href="#" class="buy">Do You Want To Sell a Car?</a>
    </div>
</div>
<!-- started end -->
<!-- How it Works start -->
<div class="section whitebg howitwrap">
    <div class="container">
        <ul class="howlist row">
            <!--step 1-->
            <li class="col-md-4 col-sm-4">
                <div class="iconcircle"><img src="~/Content/images/avatar.png" alt="" /></div>
                <h4>Create a Free Account</h4>
               
            </li>
            <!--step 1 end-->
            <!--step 2-->
            <li class="col-md-4 col-sm-4">
                <div class="iconcircle"><img src="~/Content/images/car.png" alt="" /></div>
                <h4>Post your Free Car</h4>
                
            </li>
            <!--step 2 end-->
            <!--step 3-->
            <li class="col-md-4 col-sm-4">
                <div class="iconcircle"><img src="~/Content/images/sell-icon.png" alt="" /></div>
                <h4>Sold or Buy</h4>
                
            </li>
            <!--step 3 end-->
        </ul>
    </div>
</div>
<!-- How it Works Ends -->
<!-- Testimonials start -->
<div class="section">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Happy <span>Customers</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius, orci id facilisis egestas, neque purus sagittis arcu, nec maximus quam odio nec elit Pellentesque eget ipsum mattis.</p>
        </div>
        <!-- title end -->

        <ul class="testimonialsList owl-carousel owl-theme owl-loaded owl-responsive-768">
            <li>
                <div class="testinner">
                    <div class="testimg"><img src="~/Content/images/coment-avatar-1.jpg" alt=""></div>
                    <div class="clientname">Garry Miller Jr (Tutor)</div>
                    <div class="clientinfo">London, United Kingdom</div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra id nunc at finibus. Etiam sollicitudin faucibus cursus. Proin luctus cursus nulla sed iaculis. Quisque vestibulum augue nec aliquet aliquet."</p>
                </div>
            </li>
            <li>
                <div class="testinner">
                    <div class="testimg"><img src="~/Content/images/coment-avatar-2.jpg" alt=""></div>
                    <div class="clientname">David Jackson (Student)</div>
                    <div class="clientinfo">London, United Kingdom</div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra id nunc at finibus. Etiam sollicitudin faucibus cursus. Proin luctus cursus nulla sed iaculis. Quisque vestibulum augue nec aliquet aliquet."</p>
                </div>
            </li>
            <li>
                <div class="testinner">
                    <div class="testimg"><img src="~/Content/images/coment-avatar-1.jpg" alt=""></div>
                    <div class="clientname">Garry Miller Jr (Tutor)</div>
                    <div class="clientinfo">London, United Kingdom</div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra id nunc at finibus. Etiam sollicitudin faucibus cursus. Proin luctus cursus nulla sed iaculis. Quisque vestibulum augue nec aliquet aliquet."</p>
                </div>
            </li>
            <li>
                <div class="testinner">
                    <div class="testimg"><img src="~/Content/images/coment-avatar-2.jpg" alt=""></div>
                    <div class="clientname">David Jackson (Student)</div>
                    <div class="clientinfo">London, United Kingdom</div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra id nunc at finibus. Etiam sollicitudin faucibus cursus. Proin luctus cursus nulla sed iaculis. Quisque vestibulum augue nec aliquet aliquet."</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Testimonials End -->