@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Register</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

<div class="listpgWraper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="userccount">
                    <!--
                        <div class="alert alert-success" role="alert"><strong>Well done!</strong> Your account successfully created.</div>
                        <div class="alert alert-warning" role="alert"><strong>Warning!</strong> Better check yourself, you're not looking too good.</div>
                        <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Change a few things up and try submitting again.</div>
                    -->
                    <div class="userbtns">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#wsell">I want to sell</a></li>
                            <li><a data-toggle="tab" href="#wbuy">I want to buy</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="wsell" class="formpanel tab-pane fade in active">
                            <div class="formrow">
                                <input type="text" name="name" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="formrow">
                                <select class="form-control">
                                    <option>Ad type</option>
                                    <option>New</option>
                                    <option>Used</option>
                                </select>
                            </div>
                            <div class="formrow">
                                <input type="text" name="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="formrow">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="formrow">
                                <input type="text" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="formrow">
                                <input type="text" name="conpass" class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="formrow">
                                <input type="checkbox" value="agree text" name="agree" />
                                There are many variations of passages of Lorem Ipsum available
                            </div>
                            <input type="submit" class="btn" value="Register">
                        </div>
                        <div id="wbuy" class="formpanel tab-pane fade in">
                            <div class="formrow">
                                <input type="text" name="cname" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="formrow">
                                <input type="text" name="cusername" class="form-control" placeholder="Username">
                            </div>
                            <div class="formrow">
                                <input type="text" name="cemail" class="form-control" placeholder="Email">
                            </div>
                            <div class="formrow">
                                <input type="text" name="cpass" class="form-control" placeholder="Password">
                            </div>
                            <div class="formrow">
                                <input type="text" name="cpass" class="form-control" placeholder="Confirm Password">
                            </div>
                            <input type="submit" class="btn" value="Register">
                        </div>
                    </div>
                    <div class="newuser"><i class="fa fa-user" aria-hidden="true"></i> Already a Member? <a href="@Url.Action("Index", "Login")">Login Here</a></div>
                </div>
            </div>
        </div>
    </div>
</div>