
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}
<!DOCTYPE html>

    <!-- Page Title start -->
    <div class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading">Dashboard</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="breadCrumb"><span>Welcome Jhon</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->

    <div class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <ul class="usernavdash">
                        <li class="active"><a href="dashboard.html"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                        <li><a href="edit-profile.html"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
                        <li><a href="pending-ads.html"><i class="fa fa-desktop" aria-hidden="true"></i> My Pending Ads</a></li>
                        <li><a href="active-ads.html"><i class="fa fa-laptop" aria-hidden="true"></i> My Active Ads</a></li>
                        <li><a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> Feedback</a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> Followers</a></li>
                        <li><a href="packages.html"><i class="fa fa-paper-plane" aria-hidden="true"></i> My Package</a></li>
                        <li><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> Tags</a></li>
                        <li><a href="change-password.html"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>
                        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    </ul>
                    <div class="adimages"> <img src="images/large-ad.jpg" alt="google ad"> </div>
                </div>
                <div class="col-md-9 col-sm-8">

                    <!-- Mailbox -->
                    <div class="mailboxheader">
                        <a href="#."><i class="fa fa-plus-circle" aria-hidden="true"></i> New</a> <a href="#."><i class="fa fa-envelope-o" aria-hidden="true"></i> From autocar</a> <a href="#."><i class="fa fa-envelope-o" aria-hidden="true"></i> Inbox <span>45</span></a> <a href="#."><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Sent</a> <a href="#."><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Mail">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mainboxouter">
                        <div class="titlebox">
                            <h4><i class="fa fa-envelope" aria-hidden="true"></i> Inbox <span>34</span></h4>
                            <div class="count"> <span>1-50 of 1404</span> <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="msgbox">
                            <ul class="mailList">
                                <li class="head">
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sort By Attachment"><i class="fa fa-paperclip"></i></a></div>
                                    <div class="mailico"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sort By Flag"><i class="fa fa-flag" aria-hidden="true"></i></a></div>
                                    <div class="actionbtns"> <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></a> <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a> <a href="#">Mark as Read</a> <a href="#">Mark as Unread</a> </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="unread">
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico flaged"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (5)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico flaged"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="check">
                                        <input type="checkbox" name="" id="mail1">
                                        <label for="mail1"></label>
                                    </div>
                                    <div class="mailico"><i class="fa fa-paperclip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email has attachement"></i></div>
                                    <div class="mailico"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    <a href="#." class="user">Sharjeel786 (10)</a> <a href="#.">Welcome to autocar Lorem ipsum dolor sit amet, consectetur...</a>
                                    <div class="date">july 9, 2017</div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="instoretxt">
                        <div class="credit">Your on site available credit is: <strong>$99.00</strong></div>
                        <a href="#.">Update Package</a> <a href="#." class="history">Payment History</a>
                    </div>
                    <div class="myads">
                        <h3>My Recent Ads</h3>
                        <ul class="searchList">
                            <!-- ad start -->
                            <li>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="ribbon_3 popular"><span>Featured</span></div>
                                        <div class="adimg"><img src="images/cars/01.jpg" alt="Ad Name"></div>
                                    </div>
                                    <div class="col-md-9 col-sm-8">
                                        <div class="jobinfo">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7">
                                                    <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                                    <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                                    <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="vinfo"><span>Petrol</span></div>
                                                    <div class="vinfo"><span>1300 cc</span></div>
                                                    <div class="vinfo"><span>Automatic</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="date">Last Updated: 1 day ago</div>
                                                </div>
                                                <div class="col-md-4 col-sm-5 text-right">
                                                    <div class="adprice">$456.00</div>
                                                    <div class="listbtn"><a href="#." class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="#." class="edit"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- ad end -->
                            <!-- ad start -->
                            <li>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="adimg"><img src="images/cars/02.jpg" alt="Ad Name"></div>
                                    </div>
                                    <div class="col-md-9 col-sm-8">
                                        <div class="jobinfo">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7">
                                                    <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                                    <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                                    <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="vinfo"><span>Petrol</span></div>
                                                    <div class="vinfo"><span>1300 cc</span></div>
                                                    <div class="vinfo"><span>Automatic</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="date">Last Updated: 1 day ago</div>
                                                </div>
                                                <div class="col-md-4 col-sm-5 text-right">
                                                    <div class="adprice">$456.00</div>
                                                    <div class="listbtn"><a href="#." class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="#." class="edit"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- ad end -->
                            <!-- ad start -->
                            <li>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="ribbon_3 popular"><span>Featured</span></div>
                                        <div class="adimg"><img src="images/cars/03.jpg" alt="Ad Name"></div>
                                    </div>
                                    <div class="col-md-9 col-sm-8">
                                        <div class="jobinfo">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7">
                                                    <h3><a href="#.">Sue gate F 1.0 for Sale</a></h3>
                                                    <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>2014</span></div>
                                                    <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>38,000 km</span></div>
                                                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="vinfo"><span>Petrol</span></div>
                                                    <div class="vinfo"><span>1300 cc</span></div>
                                                    <div class="vinfo"><span>Automatic</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="date">Last Updated: 1 day ago</div>
                                                </div>
                                                <div class="col-md-4 col-sm-5 text-right">
                                                    <div class="adprice">$456.00</div>
                                                    <div class="listbtn"><a href="#." class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="#." class="edit"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- ad end -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="subscribe">
        <div class="container">
            <h6>Submit Newsletters</h6>
            <p>sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Subscrbe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerWrap">
        <div class="container">
            <div class="row">
                <!--About Us-->
                <div class="col-md-3 col-sm-4">
                    <h5>Cars By Make</h5>
                    <!--Quick Links menu Start-->
                    <ul class="quicklinks">
                        <li><a href="#.">Daihatsu Cars for Sale</a></li>
                        <li><a href="#.">Honda Cars for Sale</a></li>
                        <li><a href="#.">Hyundai Cars for Sale</a></li>
                        <li><a href="#.">Mitsubishi Cars for Sale</a></li>
                        <li><a href="#.">Suzuki Cars for Sale</a></li>
                        <li><a href="#.">Toyota Cars for Sale</a></li>
                        <li><a href="#.">BMW Cars for Sale</a></li>
                        <li><a href="#.">Nissan Cars for Sale</a></li>
                        <li><a href="#.">Mercedes Cars for Sale</a></li>
                    </ul>
                </div>
                <!--About us End-->
                <!--About Us-->
                <div class="col-md-3 col-sm-4">
                    <h5>Cars By City</h5>
                    <!--Quick Links menu Start-->
                    <ul class="quicklinks">
                        <li><a href="#.">Cars in New York</a></li>
                        <li><a href="#.">Cars in Atlanta</a></li>
                        <li><a href="#.">Cars in Los Angeles</a></li>
                        <li><a href="#.">Cars in Chicago</a></li>
                        <li><a href="#.">Cars in San Diego</a></li>
                        <li><a href="#.">Cars in Las Vegas</a></li>
                        <li><a href="#.">Cars in Fresno</a></li>
                        <li><a href="#.">Cars in Mesa</a></li>
                        <li><a href="#.">Cars in Miami</a></li>
                    </ul>
                </div>
                <!--About us End-->
                <!--Quick Links-->
                <div class="col-md-2 col-sm-4">
                    <h5>Explore Us</h5>
                    <!--Quick Links menu Start-->
                    <ul class="quicklinks">
                        <li><a href="#.">Used Cars</a></li>
                        <li><a href="#.">Used Bikes</a></li>
                        <li><a href="#.">New Cars</a></li>
                        <li><a href="#.">Cool Rides</a></li>
                        <li><a href="#.">Membership Cards</a></li>
                        <li><a href="#.">Forums</a></li>
                        <li><a href="#.">Autoshow</a></li>
                        <li><a href="#.">Sitemap</a></li>
                    </ul>
                </div>
                <!--Quick Links menu end-->
                <!--Quick Links-->
                <div class="col-md-2 col-sm-4">
                    <h5>Quick Links</h5>
                    <!--Quick Links menu Start-->
                    <ul class="quicklinks">
                        <li><a href="#.">About Us </a></li>
                        <li><a href="#.">Careers</a></li>
                        <li><a href="#.">Advertise</a></li>
                        <li><a href="#.">Contact Us</a></li>
                        <li><a href="#.">Post an Ad</a></li>
                        <li><a href="#.">Privacy Policy</a></li>
                        <li><a href="#.">FAQs</a></li>
                    </ul>
                </div>
                <!--Quick Links menu end-->
                <!--Jobs By Industry-->
                <div class="col-md-2 col-sm-4">
                    <h5>Help Center</h5>
                    <!--Industry menu Start-->
                    <ul class="quicklinks">
                        <li><a href="#.">Help &amp; Support</a></li>
                        <li><a href="#.">FAQs</a></li>
                        <li><a href="#.">Account Issue</a></li>
                        <li><a href="#.">Fake Ads</a></li>
                        <li><a href="#.">Buy Membership</a></li>
                        <li><a href="#.">Terms of Services</a></li>
                        <li><a href="#.">History</a></li>
                    </ul>
                    <!--Industry menu End-->
                    <div class="clear"></div>
                </div>
            </div>
            <div class="social"> <a href="#." target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a> </div>
            <div class="note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit, ante in bibendum placerat, tortor magna varius ex, vel efficitur leo massa eleifend enim. Morbi fermentum neque eget lacus tristique, ut laoreet arcu tempor. Proin justo dui, finibus et hendrerit vitae, pharetra nec libero. Mauris sagittis, justo ut sollicitudin porttitor, tortor augue dictum purus. </div>
        </div>
    </div>
    <!--Footer end-->
    <!--Copyright-->
    <div class="copyright">
        <div class="container">
            <div class="bttxt">Copyright &copy; 2017 Your Company Name. All Rights Reserved. Design by: <a href="http://graphicriver.net/user/ecreativesol" target="_blank">eCreativeSolutions</a></div>
        </div>
    </div>

    <!-- Bootstrap's JavaScript -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- Flex slider -->
    <script src="js/jquery.flexslider.js"></script>

    <!-- Custom js -->
    <script src="js/script.js"></script>
